.gradle/
build/
out/
bin/

.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.project
.settings/

*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
!gradle/wrapper/gradle-wrapper.jar

hs_err_pid*
replay_pid*

.env
*.env
.DS_Store
Thumbs.db
